﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<link href="//ui.livegames.io/css/v2/app.min.css" rel="stylesheet">
</head>
<body>
	@RenderBody()

	<script src="//embed.livegames.io/livegames.js"></script>
</body>
</html>
